/* FONTS */

@font-face {
  font-family: title;
  src: url(fonts/Outfit-Bold.otf);
}
@font-face {
  font-family: title2;
  src: url(fonts/Outfit-Regular.otf);
}
@font-face {
  font-family: p;
  src: url(fonts/Outfit-Regular.otf);
}

h1{
  font-family: title;
  font-size: 100px;
  color: #fff;
}
h2{
  font-family: title2;
  font-size: 40px;
  color: #fff;
}

/* BUTTONS */
button{
  font-family: title2;
  text-decoration: none;
  color: #6e79b0;
  border: 4px solid #fff;
  border-radius: 100px;
  padding: 12px 34px;
  font-size: 16px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 60px #fff;
  transition: 0.2s;
  z-index: 100;
}
button:hover {
  scale: 0.95;
}

/* GLOBAL VALUES */
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: p
}
.content{
  max-width: 1500px;
  margin: auto;
}

/* HEADER */
header{
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: transparent;
  transition: 0.2s;
  height: 70px;
  display: flex;
}
header.active{
  background-color: rgb(255, 255, 255, 0.9);
}
header img{
  width: 200px;
  height: auto;
  transition: 0.2s;
  padding: 20px;
}
header.active img{
  padding: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  scale: 0.8;
  width: 180px;
  height: auto;
}
.headerbtn{
  float: right;
  font-size: 18px;
  width: 170px;
  height: 60px;
  color: #004FFF;
  padding-left: 30px;
  margin: 20px;
  transition: 0.2s;
  font-family: title2;
  box-shadow: 0px 0px 0px #fff;
}
.headerbtn.active{
  scale: 0.8;
  box-shadow: 0px 0px 0px #fff;
  background-color: #004FFF;
  color: white;
  margin-top: 5px;
  border-width: 0;
}
.headerbtn.active:hover{
  scale: 0.85;
}

/* HOME COVER */
.homecover{
  background-color: #004FFF;
  min-height: 100vh;
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}
.homecover h1{
  font-family: title;
  font-size: 60px;
}
.homecover h2{
  font-family: title2;
  font-size: 60px;
}
.homeelements{
  padding-top: 15vh;
}
.title{
  padding-top: 250px;
}
.titlebtn{
  font-family: title2;
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 16px;
  width: 200px;
  height: 60px;
  color: #004FFF;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}
.homecover img{
  margin-top: -100px;
  width: 100%;
  animation: floating 2s ease-in-out infinite;
}
.homeimg{
  text-align: center;
}

/* ABOUT ME */
.aboutme{
  width: 100%;
  background-color: #fff;
  min-height: 90vh;
  overflow: hidden;
  color: #004FFF;
  text-align: center;
}
.aboutme h1{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  font-family: title;
  font-size: 70px;
}
.aboutme h2{
  font-family: title2;
  font-size: 40px;
  color: white;
}

.messagebox{
  text-align: center;
  background-color: #004FFF;
  width: 90%;
  margin: 5%;
  margin-bottom: 0;
  margin-top: 100px;
  border-radius: 10px;
}
.message{
  vertical-align: middle;
  padding: 40px;
}
.message input{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  border-width: 0;
  text-align: center;
  color: #252525;
}
.searchbtn{
  margin-top: 30px;
  text-decoration: none;
  color: #004FFF;
  border: 0px solid #fff;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 0 #fff;
  transition: 0.4s;
  z-index: 100;
  font-family: title2;
}
.searchbtn:hover{
  box-shadow: 0px 0px 0px #fff;
}
.search-bar{
  background-color: rgb(255, 255, 255);
  color: #004FFF;
  font-family: title2;
}
.search-bar::after{
  color: #004FFF;
  font-family: title2;
}
.search-bar::placeholder{
  color: #c3c3c3;
  font-family: title2;
}
.search-bar:focus{
  color: #004FFF;
  font-family: title2;
}
.options2{
  margin-top: 20px;
}
.messagebox .row{
  margin-left: 6%;
  margin-right: 6%;
}
.hobbies label{
  text-decoration: none;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 18px;
  background: transparent;
  border-width: 3px;
  /* background-color: white; */
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 0 #fff;
  transition: 0.4s;
  z-index: 100;
  font-family: title2;
}
.hobbies label:hover{
  scale: 1;
  color: #004FFF;
  background-color: white;
}
.hobbies input{
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.hobbies input:checked ~ label{
  scale: 1;
  color: #004FFF;
  background-color: white;
}
.hobbies{
  margin-bottom: 100px;
}
.options{
  margin-top: 40px;
}

/* bedroom and bathroom dropdowns */
.bedbath{
  margin-bottom: 100px;
}
.dropdown h1{
  font-family: title2;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
select{
  border-radius: 10px;
  height: 40px;
  width: 180px;
  padding: 5px;
  font-family: title2;
  font-size: 16px;
  position: relative;
  z-index: 10;
}

.price{
  margin-bottom: 100px;
}
.price input{
  margin-top: 30px;
  width: 100%;
  height: 10px;
  font-size: 18px;
  border-radius: 10px;
  border-width: 0;
  text-align: center;
  color: #fff;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #fff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #004FFF;
  cursor: pointer;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #004FFF;
  cursor: pointer;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}
.slidecontainer p{
  color: white;
  font-family: p;
}
.leftsl{
  position: absolute;
}
.rightsl{
  position: relative;
  text-align: right;
}
.centersl{
  position: absolute;
  left: 0;
  right: 0;
}
.parameterssl{
  margin-top: 10px;
  font-size: 14px;
}

/* HIGHLIGHTS */
.highlights{
  min-height: 30vh;
  /* background-image: linear-gradient(
    #fff 0%, #75c5e7 50%,
    #2057AA 100%
  ); */
}
.highlightgroup{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.highlightgroup p{
  font-family: title;
  font-size: 16px;
}
.highlightgroup h2{
  font-family: title;
  color: #004FFF;
  font-size: 22px;
  margin-bottom: 20px;
}
.highlightbox1{
  flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s;
    min-height: 280px;
    box-shadow: 0 0 40px #c5cad5;
    margin-top: 50px;
    visibility: hidden;
}
.highlightbox1:hover{
  box-shadow: 0px 0px 100px #c5cad5;
}
.highlightbox2{
  flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s;
    min-height: 280px;
    box-shadow: 0 0 40px #c5cad5;
    margin-top: 50px;
    visibility: hidden;
}
.highlightbox2:hover{
  box-shadow: 0px 0px 100px #c5cad5;
}
.highlightbox3{
  flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s;
    min-height: 280px;
    box-shadow: 0 0 40px #c5cad5;
    margin-top: 50px;
    visibility: hidden;
}
.highlightbox3:hover{
  box-shadow: 0px 0px 100px #c5cad5;
}
.highlights img{
  margin-top: 30px;
  width: 300px;
  border-radius: 5px;
}

/* TIMES */
.times h1{
  font-family: title;
  font-size: 20px;
}
.times h2{
  font-family: title2;
  font-size: 20px;
}
.times{
  visibility: hidden;
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  color: #004FFF;
}
/* FOOTER */
footer{
  width: 100%;
  position: absolute;
  background-color: #fff;
}
footer p{
  position: relative;
  font-family: p;
  font-size: 18px;
  padding: 100px;
  color: #004FFF;
}
.copyright{
  font-style: normal;
}
.search-results {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  z-index: 1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.search-results div {
  padding: 12px 16px;
  cursor: pointer;
}
.search-results div:hover {
  background-color: #ddd;
}
.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px; /* You can adjust this value to your desired width */
}
.search-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.search-results {
  position: relative;
  z-index: 101; /* Make sure the z-index is higher than the search button's z-index (100) */
  left: 0; /* Adjust the left position according to your layout */
  background-color: white; /* Add a background color for visibility */
  width: 100%; /* Set the width of the container */
  padding: 20px; /* Add some padding for better appearance */
  border-radius: 10px;
}
.dropdown {
  position: relative;
  z-index: 10;
  font-family: p;
}
.results {
  height: 200px;
  overflow-y: auto;
  font-family: p;
}
#search-results {
  max-height: 200px; /* or whatever height you want */
  overflow-y: auto;
  font-family: p;
}

